@font-face {
  font-family: Metropolis-black;
  src: url("../Assets/font/Metropolis-Black.otf");
}

@font-face {
  font-family: Metropolis-Bold;
  src: url("../Assets/font/Metropolis-Bold.otf");
}

@font-face {
  font-family: Metropolis-ExtraBold;
  src: url("../Assets/font/Metropolis-ExtraBold.otf");
}

@font-face {
  font-family: Metropolis-Light;
  src: url("../Assets/font/Metropolis-Light.otf");
}

@font-face {
  font-family: Metropolis-Medium;
  src: url("../Assets/font/Metropolis-Medium.otf");
}

@font-face {
  font-family: Metropolis;
  src: url("../Assets/font/Metropolis-Regular.otf");
}

@font-face {
  font-family: Metropolis-semibold;
  src: url("../Assets/font/Metropolis-SemiBold.otf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Metropolis, sans-serif;
}

html,
body {
  overflow-x: hidden;
}

:root {
  --primary-color: #ed017f;
  --secondary-color: #363940;
  --tertiary-color: #676767;
  --duration: 30s;
  --totalItems: 5;
}

.container {
  max-width: 1199px;
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.col-50 {
  padding: 0 15px;
  width: 50%;
}

.col-3 {
  width: 25%;
  padding: 0 15px;
}

h1,
.title1 {
  font-size: 63px;
  font-family: Metropolis-black;
}

h2,
.title2 {
  font-size: 36px;
  font-family: Metropolis-Bold;
}

h3,
.title3 {
  font-size: 23;
  font-family: Metropolis-Light;
  text-transform: uppercase;
  color: var(--tertiary-color);
}

p {
  font-family: Metropolis-Medium;
  color: #676767;
}

ul {
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

.primary-btn {
  padding: 8px 20px;
  background: var(--primary-color);
  color: white;
  border-radius: 4px;
  transform: all 600ms linear;
}

.primary-btn:hover {
  background: transparent;
  outline: 1px solid var(--primary-color);
  color: var(--primary-color) !important;
}

.transparent-btn:hover {
  background: var(--primary-color);
  color: white !important;
}

.nav-links:hover {
  color: var(--primary-color) !important;
}

/* 
==================
Header Section
==================
*/

header {
  padding: 15px 0;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  background: transparent;
  z-index: 99;
}

.hdr-wrpr,
.nav-collapse,
.nav-btn,
.nav-collapse > ul {
  display: flex;
  align-items: center;
}

.nav-logo {
  width: 109px;
}

.nav-logo > a,
.nav-logo > a > img {
  width: inherit;
}

.nav-logo > a > img {
  object-fit: cover;
}

.nav-collapse {
  flex-grow: 2;
}

.nav-collapse > ul {
  margin: 0 auto;
  gap: 41.6px;
  font-size: 12px;
}

.nav-btn {
  gap: 33px;
  font-size: 12px;
}

.nav-links {
  text-transform: uppercase;
  cursor: pointer;
}

.nav-toggler {
  display: none;
}

.active {
  display: block !important;
}

/* 
==============
Hero Button
==============
*/

.hero-section {
  min-height: 562px;
  padding: 90px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.hero-wrpr {
  position: absolute;
  z-index: -11;
  bottom: 26px;
  left: 0;
  height: 200%;
  width: 200%;
  background: url(../Assets/Big.png) top / cover no-repeat;
}

.hero-content > h1 {
  margin-bottom: 23px;
}

.hero-content > p {
  margin-bottom: 38px;
}

.hero-btn > a:first-child {
  font-family: Metropolis-Light;
  text-transform: uppercase;
  margin-right: 20px;
  padding: 13px 23px;
  color: white;
}

.hero-btn > a:last-child,
.transparent-btn {
  font-family: Metropolis-Light;
  text-transform: uppercase;
  padding: 13px 20px;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  border-radius: 4px;
}

.hero-img {
  max-width: 905px;
  position: relative;
}

.hero-img::after,
.hero-img::before {
  content: "";
  position: absolute;
  animation: upDown 5s linear infinite;
}

@keyframes upDown {
  0%,
  100% {
    transform: scale(0.95) translateY(0);
  }
  50% {
    transform: scale(1.05) translateY(4px);
  }
}

.hero-img::after {
  background: url("../Assets/HomeLoan.png") center/contain no-repeat;
  height: 71px;
  min-width: 154px;
  max-width: 204px;
  top: 0;
  left: calc(-104px / 2);
}

.hero-img::before {
  background: no-repeat url("../Assets/carloan.png") center/contain;
  height: 71px;
  min-width: 154px;
  max-width: 204px;
  right: 0;
  top: 71px;
}

.hero-img > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.sm-banner-img {
  display: none;
}

/* 
===============
cust-exp-sec
===============
*/

.cust-exp-sec {
  padding: 15px 0;
}

.cust-exp-hdr {
  text-align: center;
  margin: 50px 0 38px;
}

.cust-exp-hdr > h2 {
  margin-bottom: 20px;
}

.cust-exp-hdr > p {
  max-width: 660px;
  margin: 0 auto;
}

/* .exp-crd {
  max-width: 259px;
  padding: 24px;
} */

.exp-crd > img.exp-img {
  height: 37px;
  width: 37px;
  object-fit: cover;
  margin-bottom: 18px;
}

.exp-crd > .title4 {
  margin-bottom: 10px;
}

.exp-crd > .title4,
.exp-crd > p {
  max-width: 160px;
}

.exp-crd > p {
  font-family: Metropolis-Medium;
  font-size: 14px;
  line-height: 1.2;
  margin-bottom: 16px;
}

/* 
===============
Business Partners Section
===============
*/

.patnr-sec {
  padding: 40px 0;
  background: rgb(252, 224, 239, 20%);
}

.hdr-top > h3.title3 {
  text-align: center;
  margin-bottom: 78px;
}

.scrl-wrpr {
  position: relative;
  display: flex;
  overflow: hidden;
  height: 110px;
}

.scrl-wrpr > .img-item {
  width: 25%;
  position: absolute;
  height: inherit;
  left: 100%;
  animation: scrollX var(--duration) linear infinite;
  animation-delay: calc(
    var(--duration) / var(--totalItems) * ((var(--totalItems) - var(--i)) * -1)
  );
  /* animation duration * animation-delay * -1 making it - so that it starts from middle of the scroll bar position */
}

.scrl-wrpr:hover >  .img-item {
  animation-play-state: paused;
}

@keyframes scrollX {
  to {
    left: -25%;
  }
}
.img-item > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* 
================
Our Best Result Section
================
*/

.our-bst-result-sec {
  padding: 106px 0;
}

.our-bst-result-top {
  text-align: center;
}

.our-bst-result-top > h2 {
  margin-bottom: 20px;
}

.our-bst-result-top > p {
  margin-bottom: 84px;
}

.our-bst-result-sec .row {
  row-gap: 55px;
}

.result {
  max-width: 172px;
  margin: 0 auto;
}

.result:hover > .result-num {
  color: var(--primary-color);
}

.result-num {
  font-size: 40px;
  font-family: Metropolis-Bold;
  margin-bottom: 8px;
  color: var(--secondary-color);
}

.result-desc {
  font-family: Metropolis;
  text-transform: uppercase;
  color: var(--tertiary-color);
}

/* 
==================
Footer Section
==================
*/

.footer-sec {
  padding: 60px 0 15px;
}

.footer-sec .row {
  row-gap: 20px;
}

.col-20 {
  width: 20%;
  padding: 0 15px;
}

.col-20 > div:first-child {
  font-size: 18px;
  font-family: Metropolis-semibold;
  margin-bottom: 20px;
}

.col-20 > ul > li {
  margin-bottom: 10px;
}

.col-20 > p {
  max-width: 180px;
  font-family: Metropolis-Medium;
  font-size: 14px;
  line-height: 1.4;
  margin-bottom: 16px;
}

.contact-icon {
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer-sec a:hover {
  color: var(--primary-color);
}

@media screen and (max-width: 992px) {
  .title1 {
    font-size: 40px;
    margin-bottom: 16px;
  }
  /* Header Section */
  .nav-collapse > ul {
    gap: 20px;
  }
  /* Hero Section */
  .hero-btn > .primary-btn {
    margin-bottom: 16px;
  }
  /* Footer Section */
  .col-20 {
    width: 50%;
  }
}

@media screen and (max-width: 768px) {
  h1,
  .title1 {
    font-size: 32px !important;
    margin-bottom: 16px;
  }
  h2,
  .title2 {
    font-size: 24px !important;
  }
  .col-50 {
    width: 100% !important;
  }
  .col-3 {
    width: 33.33%;
  }
  p {
    font-size: 14px;
  }

  /* Header Section */

  .nav-collapse {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    background: white;
    z-index: 999;
    padding: 15px 0;
    text-align: center;
    transition: all linear 1000ms;
    transform: translateY(170px);
  }

  .nav-collapse > ul,
  .nav-btn {
    flex-direction: column;
    gap: 20px;
  }
  .nav-btn {
    margin-top: 20px;
  }

  .nav-toggler {
    display: block;
    height: 2px;
    width: 20px;
    background: #000;
    position: relative;
    margin-left: auto;
  }
  .nav-toggler::after {
    content: "";
    position: absolute;
    top: -5px;
    left: 0;
    right: 0;
    background: #000;
    height: 2px;
  }
  .nav-toggler::before {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    right: 0;
    background: #000;
    height: 2px;
  }

  /* Hero Section */

  .hero-section {
    padding: 90px 0 15px;
    display: block;
    min-height: fit-content;
  }

  .hero-content {
    text-align: center;
  }

  .lg-banner-img,
  .hero-wrpr {
    display: none !important;
  }
  .sm-banner-img {
    display: block;
    max-height: 60vh;
    margin-bottom: 10px;
  }
  .sm-bg {
    height: 100%;
    position: relative;
  }

  .sm-bg::after,
  .sm-bg::before {
    position: absolute;
    content: "";
    top: 0;
  }

  .sm-bg > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .hero-content > .hero-content > p {
    margin-bottom: 16px;
  }
  .hero-btn > a:first-child {
    margin-right: 0;
  }

  /* Business Partner Section */
  /* .hdr-top > h3.title3 {
    margin: 40px 0;
  } */

  /* Best Result of the Year Section */
  .our-bst-result-sec {
    padding: 53px 0;
  }

  .our-bst-result-sec .row {
    row-gap: 25px;
  }

  .result-num {
    font-size: 28px;
  }

  .result-desc {
    font-size: 12px;
  }
}

@media screen and (max-width: 576px) {
  p {
    font-size: 12px;
  }
  /* cust exp sec */
  .col-3 {
    width: 50%;
  }
  .exp-crd {
    padding: 10px 0;
  }
}
